.u-section-1 .u-sheet-1 {
  min-height: 268px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 47px;
}.u-section-2 .u-sheet-1 {
  min-height: 450px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 315px 0 20px;
}

.u-section-2 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 10px auto 0 20px;
}

.u-section-2 .u-image-2 {
  width: 150px;
  height: 150px;
  margin: -150px auto 0 190px;
}

.u-section-2 .u-text-3 {
  margin: -150px -329px 0 664px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 52px 315px 53px 20px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 135px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 564px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 135px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 454px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 338px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 34px 20px 0 670px;
}

.u-section-3 .u-text-3 {
  margin: -128px 690px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 490px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 270px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-left: 90px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 340px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 688px 0 0;
}

.u-section-4 .u-text-3 {
  margin: -230px 20px 56px 668px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 488px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 488px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 268px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-left: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 219px;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 690px 0 0;
}

.u-section-5 .u-text-3 {
  margin: -128px 20px 12px 670px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 490px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 270px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: 90px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }
}